.simpleButton {
  width: 167px;
  height: 54px;
  padding: 14px 20px;
  border-radius: 6px;
  border: 1px solid var(--primary-500);
  background-color: var(--base-white);
}

.simpleButton:active {
  background-color: var(--primary-500);
}